@charset "UTF-8";

@import "base";

// html.is-locked,
html {
  scroll-behavior: smooth;
  &.is-locked {
    body {
      height: calc(var(--window-inner-height) - 1px);
      overflow: hidden;
      box-sizing: border-box;
    }
  }
  body {
    margin: 0;
    padding: 0;
    background: var(--bg-base);
  }
}

.wrap {
  min-height: var(--window-inner-height);
}

.header {
  padding: 0 24px;
  height: 80px;
  @include flex(center, space-between);
  .logo {
    font-size: 28px;
    font-weight: bold;
    @include flex();
    .i-logo {
      display: inline-block;
      width: 38px;
      height: 24px;
      margin-top: 4px;
      background: url(/assets/images/favicon.svg);
      background-position: center;
      background-size: 100% auto;
    }
  }
  h1 {
    position: relative;
    font-size: 36px;
    font-weight: 700;
    background: linear-gradient(180deg, #777 0%, #000 100%);
    @include textClip();
    &::before {
      content: attr(data-text);
      position: absolute;
      inset: 0;
      opacity: 0.7;
      pointer-events: none;
      color: transparent;
      z-index: -1;
      @include textStroke(rgba(255, 255, 255, 0.5));
    }
  }
  .date {
    color: var(--text-secondary);
  }
}

.container {
}
