:root {
  --grid-height: calc((var(--window-inner-height) - 80px - 24px) / 3);

  /* background */
  --bg-base:
    linear-gradient(180deg, #ece3d2 0%, #b7ac96 84.27%),
    linear-gradient(0deg, #f3efea 0%, #f3efea 100%);
  --bg-section: #f3efea;

  --bg-card: #fff;
  --bg-chart: #fafafa;
  --bg-title:
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.2) 100%
    ),
    #895d24;

  --bg-change-up: rgba(230, 4, 3, 0.08);
  --bg-change-down: rgba(0, 47, 255, 0.08);

  --bg-chart-highlight: rgba(255, 92, 0, 0.25);

  --bg-chart-mixbullet01: #ffbb89;
  --bg-chart-mixbullet02: #e5690d;
  --bg-chart-mixbullet03: #ae3607;

  --bg-badge-mixline:
    linear-gradient(0deg, rgba(255, 92, 0, 0.1) 0%, rgba(255, 92, 0, 0.1) 100%),
    #fff;

  --bg-badge-month:
    linear-gradient(
      0deg,
      rgba(42, 111, 101, 0.1) 0%,
      rgba(42, 111, 101, 0.1) 100%
    ),
    #fff;

  --bg-badge-linearea01:
    linear-gradient(
      0deg,
      rgba(43, 143, 16, 0.1) 0%,
      rgba(43, 143, 16, 0.1) 100%
    ),
    #fff;

  --bg-badge-linearea02:
    linear-gradient(
      0deg,
      rgba(124, 16, 143, 0.1) 0%,
      rgba(124, 16, 143, 0.1) 100%
    ),
    #fff;
  --bg-chart-mixbar01: #4cae9b;
  --bg-chart-mixbar02: #60b7a6;
  --bg-chart-mixbar03: #389783;
  --bg-chart-mixbar: linear-gradient(
    90deg,
    #4cae9b 0%,
    #60b7a6 37.09%,
    #389783 100%
  );
  --bg-chart-linearea01: #2b8f10;
  --bg-chart-line01-bullet01: #b1f4a0;
  --bg-chart-line01-bullet02: #2b8f10;
  --bg-chart-line01-bullet03: #257011;
  --bg-chart-linearea02: #7c108f;

  --bg-chart-line02-bullet01: #eda1fa;
  --bg-chart-line02-bullet02: #831996;
  --bg-chart-line02-bullet03: #490754;

  --bg-individual01: rgba(43, 143, 16, 0.1);
  --bg-individual02: rgba(124, 16, 143, 0.1);

  /* border */
  --border-base: rgba(0, 0, 0, 0.2);
  --border-stat: #e7decd;
  --border-person: #e3dac8;
  --border-card-inner: rgba(0, 0, 0, 0.1);

  /* text color*/
  --text-base: #000;
  --text-primary: #555;
  --text-secondary: #777;

  --text-weekly-title: #895d24;

  --chart-base: #777;
  --card-title: #fff;

  --change-base: #555;
  --change-label: #333;

  --change-up: #e60403;
  --change-down: #002fff;

  --stat-accrue: #ff5c00;
  --stat-month: #2a6f65;
  --stat-individual01: #2b8f10;
  --stat-individual02: #7c108f;
  --stat-sales: #885d1a;
  --stat-unit-base: linear-gradient(180deg, #777 0%, #000 100%);
  --stat-unit-accrue: linear-gradient(180deg, #ff5c00 0%, #b94300 100%);
  --stat-unit-month: linear-gradient(180deg, #409d8a 0%, #1a4c45 100%);

  --stat-unit-individual01: linear-gradient(180deg, #2b8f10 0%, #1b580b 100%);
  --stat-unit-individual02: linear-gradient(180deg, #7c108f 0%, #41074c 100%);
  --stat-unit-sales: linear-gradient(180deg, #c4964b 0%, #5f2f0e 100%);

  /* chart color */
  --grid-border-dashed: rgba(0, 0, 0, 0.2);
  --chart-mixline: #ff5c00;
  --chart-mixbar: #047051;

  /*primary*/
  --color-primary900: #020a07;
  --color-primary800: #071e18;
  --color-primary700: #0a221d;
  --color-primary: #123328; /* 기본값 === 600 */
  --color-primary500: #205241;
  --color-primary400: #266651;
  --color-primary300: #249473;
  --color-primary200: #34daaa;
  --color-primary100: #effdf9;

  --gra-primary:
    #0f3227 5%, #2a6c56 30%, #173e31 60%, #071e18 80%, #09211b 90%, #0e2c25 100%;
  --gra-primary-b:
    #135643 0%, #0b2d23 10%, #34d9a9 50%, #061712 85%, #194436 100%;
  --gra-primary700:
    #0f3025 0%, #194335 40%, #0c271f 70%, #0b221b 80%, #0d231c 100%;
  --gra-primary700-b: #08251c 0%, #208669 40%, #104032 70%, #051612 100%;

  /*secondary*/
  --color-secondary900: #0c0906;
  --color-secondary800: #1d1810;
  --color-secondary700: #352d1d;
  --color-secondary: #3e3523; /* 기본값 === 600 */
  --color-secondary500: #604f32;
  --color-secondary400: #897445;
  --color-secondary300: #c1a770;
  --color-secondary200: #ecd4a2;
  --color-secondary100: #fdf7ec;

  --gra-secondary: #262218 8%, #4a3c2b 34%, #594c31 55%, #312a1b 90%;
  --gra-secondary-b:
    #886d35 0%, #423625 10%, #f3dba8 26%, #0e0b06 85%, #574b30 100%;
  --gra-secondary200-b: #a48f6200 0%, #a48f62 40%, #a48f6200 100%;

  /* accent-org */
  --color-org900: #4f2000;
  --color-org800: #883700;
  --color-org700: #bc4c00;
  --color-org: #cc5200; /* 기본값 === 600 */
  --color-org500: #eb5f00;
  --color-org400: #f87725;
  --color-org300: #ec8f53;
  --color-org200: #feba88;
  --color-org100: #ffeada;
  --gra-org: #f56900 10%, #ff872f 30%, #df5f00 70%, #ae3607 90%;
  --gra-org-b: #da6813 10%, #ffbb89 38%, #e5690d 72%, #ae3607 93%;

  /*gray*/
  --color-gray900: #212121;
  --color-gray800: #424242;
  --color-gray700: #616161;
  --color-gray600: #757575;
  --color-gray500: #9e9e9e;
  --color-gray400: #bdbdbd;
  --color-gray300: #e0e0e0;
  --color-gray200: #eee;
  --color-gray100: #f5f5f5;
  --color-gray50: #fafafa;
  --gra-gray: #444444 0%, #666666 38%, #555555 72%, #444444 100%;
  --gra-gray-b: #333333 0%, #aaaaaa 47%, #404040 100%;

  /* other */
  --color-yellow: #ffc600;
  --gra-yellow-b:
    #a67d03 0%, #f2cc0f 16%, #fadd4f 37%, #f2cc0f 62%, #926e03 88%;
  --color-red: #e60403;
  --color-red400: #ff100f;
  --color-red200: #ff6b6b;

  --gra-red: #700000 0%, #be0000 47%, #620808 84%, #590000 100%;
  --gra-red-b: #870e0e 0%, #ba3c3c 27%, #f07272 50%, #a63f3f 67%, #630e0e 100%;
  --gra-green: #124234 0%, #296b55 48%, #0f392d 85%, #0c2a21 100%;
  --gra-green-b:
    #124637 0%, #249978 28%, #34d9aa 50%, #238c6d 68%, #0f3328 100%;
  --gra-green700: #0f372b 0%, #205643 48%, #0f2c23 85%, #0a1b15 100%;
  --gra-green700-b:
    #154435 0%, #196750 28%, #1f8265 50%, #185a46 68%, #153b2f 100%;
  --gra-brown: #423320 0%, #685237 48%, #453521 85%, #362a1a 100%;
  --gra-brown-b:
    #4a3b28 0%, #9f8363 28%, #c6a47a 50%, #7f694c 68%, #524530 100%;
  --gra-brown700: #322b1c 0%, #594d32 48%, #3b3123 85%, #272319 100%;
  --gra-brown700-b:
    #3c3021 0%, #7f6545 28%, #a28662 50%, #766042 68%, #352914 100%;

  /* etc */
  --title-stroke: drop-shadow(0 0 1px rgba(0, 0, 0, 0.5));
  --title-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5),
    -1px 1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(0, 0, 0, 0.5);

  --text-stroke:
    -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000,
    1px 0px 0 #000, 0px 1px 0 #000, -1px 0px 0 #000, 0px -1px 0 #000;

  --text-stroke500:
    -1px -1px 0 #00000077, 1px -1px 0 #00000077, -1px 1px 0 #00000077,
    1px 1px 0 #00000077;

  --text-stroke100:
    -1px -1px 0 #0000001a, 1px -1px 0 #0000001a, -1px 1px 0 #0000001a,
    1px 1px 0 #0000001a;

  --btn-shadow: drop-shadow(0 2px 2px #000000aa)
    drop-shadow(0 -1px 1px #000000aa);
}
