:root {
  /* background */
  --bg-base: linear-gradient(180deg, #ece3d2 0%, #b7ac96 84.27%), #f3efea;
  --bg-transparent: transparent;
  --bg-section: #f3efea;
  --bg-card: #fff;
  --bg-chart: #fafafa;
  --bg-title:
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.2) 100%
    ),
    #895d24;

  --bg-calendar: #f6f3f0;
  --bg-change: rgba(0, 0, 0, 0.08);
  --bg-change-up: rgba(230, 4, 3, 0.08);
  --bg-change-down: rgba(0, 47, 255, 0.08);

  --bg-chart-highlight: rgba(255, 92, 0, 0.25);

  --bg-chart-mixbullet: #d84101;

  --bg-badge-year: rgba(220, 103, 0, 0.15);

  --bg-badge-month:
    linear-gradient(
      0deg,
      rgba(255, 119, 0, 0.1) 0%,
      rgba(255, 119, 0, 0.1) 100%
    ),
    #fff;

  --bg-badge-linearea01:
    linear-gradient(
      0deg,
      rgba(43, 143, 16, 0.1) 0%,
      rgba(43, 143, 16, 0.1) 100%
    ),
    #fff;

  --bg-badge-linearea02:
    linear-gradient(
      0deg,
      rgba(124, 16, 143, 0.1) 0%,
      rgba(124, 16, 143, 0.1) 100%
    ),
    #fff;
  --bg-chart-mixbar01: #4cae9b;
  --bg-chart-mixbar02: #60b7a6;
  --bg-chart-mixbar03: #389783;
  --bg-chart-mixbar: linear-gradient(
    90deg,
    #4cae9b 0%,
    #60b7a6 37.09%,
    #389783 100%
  );

  --bg-chart-area01: rgba(43, 143, 16, 0.3);
  --bg-chart-area02: rgba(124, 16, 143, 0.3);
  --bg-chart-linearea01: #2b8f10;
  --bg-chart-line01-bullet01: #89d774;
  --bg-chart-line01-bullet02: #2b8f10;
  --bg-chart-line01-bullet03: #257011;
  --bg-chart-linearea02: #7c108f;

  --bg-chart-line02-bullet01: #eda1fa;
  --bg-chart-line02-bullet02: #831996;
  --bg-chart-line02-bullet03: #490754;

  --bg-individual01: rgba(43, 143, 16, 0.1);
  --bg-individual02: rgba(124, 16, 143, 0.1);

  /* border */
  --border-base: rgba(0, 0, 0, 0.1);
  --border-primary: rgba(0, 0, 0, 0.1);
  --border-stat: #e7decd;
  --border-person: #e3dac8;
  --border-card-inner: rgba(0, 0, 0, 0.1);
  --border-title: linear-gradient(180deg, #825822 0%, #9d704c 100%);

  /* text color*/
  --text-base: #000;
  --text-primary: #555;
  --text-secondary: #777;

  --stat-base: #333;
  --stat-primary: #d84101;
  --stat-secondary: #99572c;
  --stat-tertiary: #db6600;

  --unit-primary: #2b8f10;
  --unit-secondary: #7c108f;
  --unit-tertiary: #0098df;

  --text-weekly-title: #895d24;
  --card-title: #fff;

  --chart-base: #777;

  --change-base: #555;
  --change-label: #333;

  --change-up: #b00;
  --change-down: #00198b;

  --stat-accrue: #d84101;
  --stat-month: #f70;

  --stat-sales: #885d1a;
  --stat-unit-base: linear-gradient(180deg, #777 0%, #000 100%);
  --stat-unit-accrue: linear-gradient(180deg, #ff5c00 0%, #b94300 100%);
  --stat-unit-month: linear-gradient(180deg, #409d8a 0%, #1a4c45 100%);

  --stat-unit-individual01: linear-gradient(180deg, #2b8f10 0%, #1b580b 100%);
  --stat-unit-individual02: linear-gradient(180deg, #7c108f 0%, #41074c 100%);
  --stat-unit-sales: linear-gradient(180deg, #c4964b 0%, #5f2f0e 100%);

  /* chart color */
  --grid-border-dashed: rgba(0, 0, 0, 0.2);
  --chart-mixline: #d84101;
  --chart-mixbar: #e76c00;

  /* etc */
  --title-stroke: drop-shadow(0 0 1px rgba(0, 0, 0, 0.5));
  --title-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5),
    -1px 1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(0, 0, 0, 0.5);
}
