@charset "UTF-8";

@use "base" as *;
@forward "_root";
@forward "_layout";

.main {
  &-contents {
    display: grid;
    min-height: calc(var(--window-inner-height) - 80px);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
  }
  &-grid {
    padding: 0 24px;
    display: grid;
    grid-template-columns: 418fr 335fr 247fr;
    grid-template-rows: repeat(2, 2fr);
    grid-row-start: 1;
    grid-row-end: 3;
    gap: 16px;
  }
  &-weekly {
    padding: 0 24px;
    border-radius: 32px 32px 0 0;
    border-top: 4px solid #fff;
    background:
      linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0) 15%
      ),
      #f3efea;
    height: var(--grid-height);
    min-height: 320px;
    box-shadow: 0 -4px 40px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
}

.card {
  position: relative;
  border-radius: 8px;
  border: 2px solid var(--border-base);
  background: var(--bg-card);
  overflow: hidden;
  &:not(.individual, .sales) {
    height: calc(var(--grid-height) + 4px);
  }
  &.individual,
  &.sales {
    height: calc((var(--grid-height) * 2) + 24px);
    min-height: 656px;
  }
  &.individual {
    $individualmin: calc(650px - 228px);
    $individualmax: calc((var(--grid-height) * 2) + 16px - 228px);
    $individual-chart: clamp($individualmin, $individualmax, $individualmax);
    grid-row-end: 3;
    grid-row-start: 1;
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: $individual-chart 228px;
    .chart-wrap {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 48px calc($individual-chart - 48px);
    }
    .card-body {
      height: 228px;
    }
    .label {
      font-size: 14px;
    }
    .stat-row {
      [class^="change"] {
        font-size: 10px;
        em {
          font-size: 16px;
        }
      }
      .big-num {
        font-size: 52px;
      }
      .unit {
        font-size: 12px;
      }
    }
  }
  &.sales {
    grid-column-start: 3;
    grid-row-end: 3;
    grid-row-start: 1;
    display: grid;
    grid-template-rows: auto, 228px;
    .chart-wrap {
      position: relative;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: repeat(2, 1fr);
      width: 100%;
      padding: 0 12px;
      border-top: 1px solid var(--border-base);
      .legend {
        position: absolute;
        right: 24px;
        top: 6 px;
        z-index: 1;
      }
      .chart-body {
        padding: 0;
        &:not(:last-child) {
          border-bottom: 1px dashed var(--border-base);
        }
      }
    }
  }

  &-header {
    position: relative;
    width: 100%;
    @include flex(center, space-between);
    h3 {
      position: relative;
      font-size: 22px;
      font-weight: 700;
      line-height: 1;
      height: 48px;
      padding: 12px 14px;
      color: var(--card-title);
      background: var(--bg-title);
      display: inline-flex;
      @include textStroke();
      &::after {
        content: "";
        position: absolute;
        top: 0px;
        right: -48px;
        width: 48px;
        height: 48px;
        background: var(--bg-title);
        @include maskContents(url("/assets/images/mask_tail.svg"));
      }
    }
    .legend {
      padding-right: 12px;
    }
  }
  &:has(.inner) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &-body {
    width: 100%;
    padding-bottom: 12px;
  }
  &.yearly,
  &.month {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 48px auto;
    min-height: 320px;
    $yearlymin: 320px;
    $yearlymax: var(--grid-height);
    $yearly-chart: clamp($yearlymin, $yearlymax, $yearlymax);
    .chart {
      &-wrap {
        grid-column-start: 2;
        grid-row-start: 1;
        height: calc($yearly-chart - 8px);
        min-height: 320px;
        padding: 12px;
        border-left: 1px solid var(--border-base);
      }
      &-body {
        height: calc($yearly-chart - 48px);
      }
    }
    .card-body {
      grid-column-start: 1;
      grid-row-start: 2;
      padding: 0 24px 12px;
      flex-direction: column;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: repeat(3, 1fr);
    }
  }
}

.stat-row {
  padding: 12px 0;
  width: 100%;
  @include flex(center, space-between);
  &:not(:last-child) {
    border-bottom: 1px solid var(--border-stat);
  }
  &.accrue {
    .label {
      color: var(--stat-accrue);
    }
    .big-num,
    .unit {
      font-weight: 700;
      background: var(--stat-unit-accrue);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &.month {
    .label {
      color: var(--stat-month);
    }
    .big-num,
    .unit {
      font-weight: 700;
      background: var(--stat-unit-month);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &.individual01 {
    .label {
      color: var(--stat-individual01);
    }
    .big-num {
      font-size: rem(52px);
    }
    .big-num,
    .unit {
      font-weight: 700;
      background: var(--stat-unit-individual01);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &.individual02 {
    .label {
      color: var(--stat-individual02);
    }
    .big-num,
    .unit {
      font-weight: 700;
      background: var(--stat-unit-individual02);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &.sales {
    padding: 16px 24px;
    .label {
      color: var(--stat-sales);
    }
    .big-num,
    .unit {
      font-weight: 700;
      background: var(--stat-unit-sales);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .label-box {
    flex-direction: column;
    gap: 8px;
    @include flex(space-between, flex-start);
  }
  .label {
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: var(--change-label);
  }
  [class^="change"] {
    padding: 0 8px;
    height: 28px;
    border-radius: 50px;
    background: var(--bg-change-up);
    font-size: 12px;
    color: var(--change-base);
    gap: 4px;
    @include flex();
    &[class*="down"] {
      background: var(--bg-change-down);
      em {
        color: var(--change-down);
        &::before {
          content: " ";
          position: absolute;
          left: 4px;
          top: calc(50% - 5px);
          width: 0;
          height: 0;
          background: none;
          border-style: solid;
          border-width: 10px 6px 0px 6px;
          border-color: var(--change-down) transparent transparent transparent;
        }
      }
    }
    &[class*="up"] {
      em {
        color: var(--change-up);
        &::before {
          content: " ";
          position: absolute;
          left: 4px;
          top: calc(50% - 5px);
          width: 0;
          height: 0;
          background: none;
          border-style: solid;
          border-width: 0px 6px 10px 6px;
          border-color: transparent transparent var(--change-up) transparent;
        }
      }
    }
    em {
      position: relative;
      padding-left: 20px;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.2;
      color: var(--text-base);
      &::before {
        content: " ";
        position: absolute;
        left: 6px;
        top: calc(50% - 1px);
        width: 8px;
        height: 2px;
        background: var(--text-base);
      }
    }
  }

  .big-num {
    font-size: rem(68px);
    line-height: 1;
  }
  .unit {
    font-size: 18px;
  }
  .big-num,
  .unit {
    font-weight: 700;
    background: var(--stat-unit-base);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.chart {
  &-wrap {
    background: var(--bg-chart);
    width: 100%;
    height: 100%;
    gap: 12px;
  }
  &-header {
    width: 100%;
    font-size: 14px;
    @include flex(center, space-between);
  }
  &-body {
    position: relative;
    flex-grow: 1;
    width: 100%;
    padding: 12px;
    .badge-box {
      position: absolute;
      top: 0;
      left: 12px;
    }
  }
}

[class^="badge"] {
  &:not([class*="box"]) {
    display: inline-block;
    padding: 4px;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    font-weight: 700;
    line-height: 1;
  }
  &[class*="box"] {
    gap: 8px;
    @include flex();
  }
  &[class*="year"] {
    border-color: var(--stat-accrue);
    background: var(--bg-badge-mixline);
    color: var(--stat-accrue);
  }
  &[class*="month"] {
    border-color: var(--stat-month);
    background: var(--bg-badge-month);
    color: var(--stat-month);
  }
  &[class*="individual01"] {
    border-color: var(--stat-individual01);
    background: var(--bg-badge-linearea01);
    color: var(--stat-individual01);
  }
  &[class*="individual02"] {
    border-color: var(---stat-individual02);
    background: var(--bg-badge-linearea02);
    color: var(--stat-individual02);
  }
}

.legend {
  gap: 8px;
  font-size: 14px;
  color: var(--text-secondary);
  @include flex();
  &-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    margin-right: 2px;
    &.mix-bar {
      background: var(--bg-chart-mixbar);
    }

    &.mix-line {
      background: var(--chart-mixline);
    }
    &.line-area01 {
      background-color: var(--bg-chart-linearea01);
    }
    &.line-area02 {
      background-color: var(--bg-chart-linearea02);
    }
  }
}
.individual {
  .card-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 24px 0 12px;
    .person-box {
      padding: 0 24px;
    }
  }
  .person {
    &-box {
      position: relative;
      &:nth-child(1) {
        &:not(:last-child) {
          &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            height: calc(100% - 16px);
            border-right: 2px solid var(--border-person);
          }
        }
        .person-name {
          background-color: var(--bg-individual01);
          span,
          small {
            background: var(--stat-unit-individual01);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
      &:nth-child(2) {
        .person-name {
          background-color: var(--bg-individual02);
          span,
          small {
            background: var(--stat-unit-individual02);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
    &-name {
      text-align: center;
      height: 42px;
      width: 100%;
      border-radius: 8px;
      font-size: 22px;
      font-weight: 700;
      gap: 4px;
      @include flex();
      small {
        padding-top: 4px;
        font-size: 16px;
      }
    }
  }
}

.weekly {
  &-grid {
    display: grid;
    grid-template-columns: 267px auto;
    height: 100%;
  }

  &-header {
    flex-direction: column;
    @include flex(flex-start, space-around);
  }
  &-title {
    color: var(--text-weekly-title);
    font-size: 36px;
    font-weight: 700;
    h3 {
      font: inherit;
    }
  }
  .person {
    &-list {
      gap: 12px;
      flex-direction: column;
      @include flex();
      .name {
        font-size: rem(16px);
        font-weight: 500;
        small {
          font-size: rem(12px);
          font-weight: 500;
        }
      }
      li {
        gap: 6px;
        @include flex();
      }
    }
  }
  [class^="badge"] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: rem(18px);
    height: rem(18px);
    font-size: rem(12px);
    color: #fff;
    border: none;
    line-height: rem(18px);
    padding: 0;
  }
  .badge {
    &-green {
      background: linear-gradient(180deg, #2b8f10 0%, #1b580b 100%);
    }
    &-purple {
      background: linear-gradient(180deg, #7c108f 0%, #41074c 100%);
    }
    &-teal {
      background: linear-gradient(180deg, #00d8e7 0%, #004e53 100%);
    }
  }
  .schedule {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: var(--grid-height);
    min-height: 320px;
  }
  .day {
    &-card {
      padding-top: 16px;
      color: #555;
      &:not(:last-child) {
        border-right: 1px solid var(--border-base);
      }
      &.today {
        background: rgba(255, 92, 0, 0.25);
        color: #000;
      }
    }
    &-title {
      position: relative;
      padding: 0 8px;
      height: 48px;
      font-weight: 700;

      @include flex();
      span {
        font-weight: 400;
      }
      &::after {
        content: " ";
        position: absolute;
        bottom: 0;
        left: 8px;
        width: calc(100% - 16px);
        height: 1px;
        background: var(--border-base);
      }
    }
    &-list {
      padding: 16px 8px;
      height: calc(var(--grid-height) - 68px);
      min-height: calc(320px - 68px);
      overflow: auto;
      li {
        position: relative;
        padding-left: rem(24px);
        word-break: keep-all;
        &:not(:last-child) {
          margin-bottom: 8px;
        }
        &::before {
          content: " ";
          position: absolute;
          left: 10px;
          top: rem(10px);
          display: inline-block;
          width: 4px;
          height: 4px;
          background-color: #555;
          border-radius: 50%;
        }
      }
      .active {
        font-weight: 500;
      }
    }
  }
}

.sales {
  .person {
    &-list {
      align-self: flex-end;
      flex-direction: column;
      gap: 4px;
      @include flex();
      dl {
        border-radius: 4px;
        overflow: hidden;
        @include flex(center, space-between);
        dt {
          width: 24px;
          height: 24px;
          color: #fff;
          font-size: 12px;
          @include flex();
        }
        dd {
          width: 58px;
          text-align: right;
          padding: 0 8px;
          font-weight: bold;
          small {
            font-size: 10px;
          }
        }
      }
      .individual01 {
        background-color: var(--bg-individual01);
        dt {
          background: var(--stat-unit-individual01);
        }
        dd {
          color: var(--stat-individual01);
        }
      }
      .individual02 {
        background-color: var(--bg-individual02);
        dt {
          background: var(--stat-unit-individual02);
        }
        dd {
          color: var(--stat-individual02);
        }
      }
    }
  }
}
